section.about {
  --about-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  --about-divider: 20%;

  min-height: var(--about-height);
  width: 100%;
  text-align: center;
  background: url('../../assets/images/profile.webp') left bottom / contain
      no-repeat,
    linear-gradient(90deg, var(--purple) var(--about-divider), var(--white) 0)
      left bottom / contain no-repeat;
  animation: image-up 1s ease-in-out;
  user-select: text;
}

section.about > h1.title {
  width: max-content;
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem 6rem;
  margin: 2rem var(--about-divider);
}

section.about .wrapper {
  font-size: var(--font-size-p);
  margin: 2rem 0 2rem var(--about-divider);
}

section.about .wrapper p {
  padding: 0.5rem 6rem;
}

section.about .wrapper .sections {
  display: flex;
  justify-content: space-around;
}

section.about .wrapper .sections .my-section {
  border: 2px solid var(--purple);

  & header,
  & .slot {
    /* Invert Color Variables */
    --purple: #fff;
    --white: #6751eb;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}

/* Animations */
@keyframes image-up {
  from {
    background-position-y: var(--about-height);
    opacity: 0;
    filter: grayscale(100%);
  }
}

/* Media Queries */
@media screen and (max-width: 1365px) {
  section.about {
    --about-divider: 30%;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  section.about {
    background: url('../../assets/images/profile.webp') -5rem 0 / contain no-repeat,
      linear-gradient(90deg, var(--purple) var(--about-divider), var(--white) 0)
        left bottom / contain no-repeat;
  }

  section.about .wrapper .sections {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (orientation: portrait) {
  section.about {
    --about-divider: 40%;

    background: url('../../assets/images/profile.webp') -15rem 0 / contain no-repeat,
      linear-gradient(90deg, var(--purple) var(--about-divider), var(--white) 0)
        left bottom / contain no-repeat;
  }

  section.about .wrapper .sections {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 750px) {
  section.about {
    --about-divider: 40%;

    background: url('../../assets/images/profile.webp') -13rem 0 / contain no-repeat,
      linear-gradient(90deg, var(--purple) var(--about-divider), var(--white) 0)
        0 100% / contain no-repeat;
  }

  section.about .wrapper .sections .my-section {
    max-width: 35rem;
  }
}

@media screen and (max-width: 650px) {
  section.about {
    --about-divider: 0;

    background: linear-gradient(
        90deg,
        var(--purple) var(--about-divider),
        var(--white) 0
      )
      0 100% / contain no-repeat;
  }

  section.about > h1.title {
    margin: 2rem auto;
    color: var(--purple);
    background-color: transparent;
  }
}

@media screen and (max-width: 500px) {
  section.about .wrapper .sections .my-section {
    max-width: 30rem;
  }
}
