section.about {
  --about-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  --about-divider: 20%;

  min-height: var(--about-height);
  width: 100%;
  text-align: center;
  background: url('../../assets/images/profile.png') left bottom / contain
      no-repeat,
    linear-gradient(90deg, var(--purple) var(--about-divider), var(--white) 0);
  animation: image-up 1s ease-in-out;
  user-select: text;
}

section.about > h1 {
  width: max-content;
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem 6rem;
  margin: 1rem auto;
}

section.about .wrapper {
  font-size: var(--font-size-p);
  margin-left: var(--about-divider);
}

section.about .wrapper p {
  padding: 0.5rem 6rem;
}

section.about .wrapper .sections {
  display: flex;
  justify-content: space-around;
}

section.about .wrapper .sections .my-section {
  border: 2px solid var(--purple);

  & header,
  & .slot {
    /* Invert Color Variables */
    --purple: #fff;
    --white: #6751eb;
    box-shadow: none;
    border: none;
  }
}

/* Animations */
@keyframes image-up {
  from {
    background-position-y: var(--about-height);
    opacity: 0;
    filter: grayscale(100%);
  }
}
