/* TODO home page style */

section.home {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width);
  width: 100%;
  justify-content: space-around;
  margin: 2rem 1rem;
}

/* Softwares icons */
/* ul li::before {
  background-image: url('../../assets/images/logo.png');
} */
ul li.agped {
  background-image: url('../../assets/images/logo-agped.svg');

  &::before {
    background-image: url('../../assets/images/favicon-agped.png');
  }
}
ul li.teams {
  background-image: url('../../assets/images/logo-teams.svg');

  &::before {
    background-image: url('../../assets/images/favicon-teams.png');
  }
}
ul li.tit {
  background-image: url('../../assets/images/logo-tit.svg');

  &::before {
    background-image: url('../../assets/images/favicon-tit.png');
  }
}
