@import 'utils/reset.css';
@import 'utils/variables.css';
@import 'utils/fonts.css';

a {
  color: var(--links);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  animation: reset-overflow 5s cubic-bezier(1, 0, 1, 1);
}

@keyframes reset-overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
