#main-app {
  --footer-height: 20rem;

  position: relative;
  min-height: 100vh;
}

#header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  border-bottom: 3px solid var(--purple);
  user-select: none;
}

#content-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: var(--footer-height); /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height); /* Footer height */
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background-color: var(--purple);
  box-shadow: inset 0 1rem 2rem -1rem var(--black);
}

@media (max-width: 500px) {
  #header {
    padding: 1rem 2rem;
  }
}
