:root {
  --white: #fff;
  --purple: #6751eb;
  --menu-bg: color-mod(var(--purple) tint(80%));
  --grey: #1e1e1d;
  --yellow: #ffad15;
  --green: #42b983;
  --links: var(--green);
  --offwhite: #f8f8f8;
  --darkerwhite: color-mod(var(--offwhite) shade(20%));
}
